@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,700;1,700&display=swap");
body {
  background-color: #131518;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
